body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn-save {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-saves {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c01818;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}   
.btn-save:hover {
    background-color: #0056b3;
}
.no{
     pointer-events: none;
}